.textMaps {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(209, 36, 36);
  color: #fff;
  padding: 7px 5px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.good {
  background: #00ab55;
  color: #fff;
}

.good {
  background: rgb(209, 36, 36);
  color: #fff;
}

// .gm-style .gm-style-iw-c {
//   top: -40px !important;
//   background: #fff;
//   max-width: 130px !important;
//   width: auto !important;
//   max-height: 50px !important;
//   padding: 0px !important;
// }
// .gm-style-iw-tc {
//   top: -40px !important;
// }
// .gm-style-iw-chr {
//   display: none !important;
// }
// .gm-style-iw-d {
//   padding: 0 !important;
//   margin: 0 !important;
//   overflow: hidden !important;

//   h4,
//   p {
//     padding: 0 !important;
//   }
// }

// .everyMarker {
//   background: #fff;
//   height: 100%;
//   padding: 8px 10px;
//   pointer-events: none;

//   h4 {
//     font-weight: 700;
//     font-size: 12px;
//     text-align: center;
//   }
// }
