.allPoints {
  height: 100%;

  .pointLists {
    &__list {
      .every {
        .logo {
          background: #299b31 !important;
        }

        .content {
          > div:first-child {
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
