.returnCreate {
  height: 100vh;
  padding: 55px 0 80px;
  overflow-y: scroll;

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    button {
      padding: 8px 0px;
      font-size: 14px;
      font-weight: 400;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 48%;
      border-radius: 5px;
      border: 1px solid rgb(67, 97, 238);
      background: #fff;

      p {
        color: rgb(67, 97, 238);
      }

      svg {
        color: rgb(67, 97, 238);
      }
    }

    .active {
      background: rgb(67, 97, 238);

      p {
        color: #fff;
      }

      svg {
        color: #fff;
      }
    }
  }

  .checkboxreturn {
    position: fixed;
    right: 0px;
    top: 7px;
    z-index: 101;
  }
}
