.listAcceptProdReturn {
  height: calc(100% - 70px);

  .saveAction {
    height: 30px;
    background: #299b31;
    padding: 1px 7px 3px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @media (max-width: 920px) {
      height: 38px;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    @media (max-width: 700px) {
      position: fixed;
      left: 50%;
      bottom: 20px;
      width: 97%;
      transform: translateX(-50%);
      height: 45px;
      gap: 10px;
    }

    p {
      font-size: 12px;
      font-weight: 500;

      @media (max-width: 920px) {
        font-size: 14px;
      }

      @media (max-width: 700px) {
        font-size: 18px;
      }
    }
  }
}
