.listChoiceProds {
  height: 100%;

  &__prods {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    padding: 15px 15px 10px 15px;
    position: relative;
    z-index: 10;

    .myInputs {
      width: 100%;
    }
  }
}
