.viewProds {
  height: 100%;

  .standartTable table thead tr th:first-child {
    padding: 12px 5px !important;
  }

  .standartTable table tbody tr th:first-child {
    padding: 5px 5px !important;
  }

  .footereTable {
    > td {
      padding: 8px 5px;
      font-weight: 600;
      border-right: 1px solid #edf2f9;
      font-size: 12px !important;
    }
  }
}
