.invoiceParent {
  background-color: rgba(162, 178, 238, 0.102);
  min-width: 100%;
  padding: 15px 8px;
  border-bottom: 1px solid rgba(47, 71, 190, 0.287);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 58%;
    gap: 5px;

    .indexNums {
      font-size: 18px;
      font-weight: 600;
      color: rgba(47, 71, 190, 0.672);
      border: 1px solid rgba(47, 71, 190, 0.672);
      background-color: #d4dfee;
      padding: 3px;
      padding-left: 8px;
      padding-right: 8px;
      line-height: 25px;
      border-radius: 5px;
    }
  }

  .titleDate {
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 17px;
    color: #222;
  }

  .role {
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 17px;
    color: rgba(47, 71, 190, 0.672);
    width: 100%;
    display: -webkit-box; /* Для поддержки старых версий Safari */
    -webkit-box-orient: vertical; /* Определяет направление текста */
    -webkit-line-clamp: 1; /* Максимум 4 строки */
    overflow: hidden; /* Скрыть излишек текста */
    text-overflow: ellipsis;
  }

  .totalPrice {
    font-size: 16px;
    font-weight: 400;
  }

  .comments {
    display: -webkit-box; /* Для поддержки старых версий Safari */
    -webkit-box-orient: vertical; /* Определяет направление текста */
    -webkit-line-clamp: 4; /* Максимум 4 строки */
    overflow: hidden; /* Скрыть излишек текста */
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    color: #222;
  }

  .mainData {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    > div {
      width: 100%;
    }
  }

  .mainDataArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    width: 37%;

    > div:nth-child(1) {
      width: 90%;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      width: 95%;
    }

    span {
      font-size: 13px;
      font-weight: 500;
      line-height: 12px;
      color: #222;
    }

    .arrow {
      margin-right: 0px;
      border-top: 3px solid rgba(162, 178, 238, 0.439);
      border-right: 3px solid rgba(162, 178, 238, 0.439);
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
    }
  }
}
