.viewProdsPage {
  height: 100%;

  &__inner {
    padding: 0px 0px 15px;
    height: 100%;

    .lookPdf {
      position: fixed;
      right: 30px;
      top: 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      z-index: 999;
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      background: transparent;

      svg {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        color: grey;
      }
    }
  }
}

.allViewAction {
  .viewProdsPage__inner {
    padding: 0px 0px 75px;
  }
}
